/*STYLES GENERAUX*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #f1e1e1;
}
p{
    font-size: 1em;
    line-height: 1.5em;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}
p:hover{
    background:rgb(255, 247, 247);
    color: #000000;
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background: url("FOND.png") #4f4f4f;
    box-shadow: 0px 0px 15px #333;
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    color: rgb(94, 42, 0);
    font-size: 1.9em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(253, 253, 253);
}

footer{
    border-top: 2px solid RGB(255, 194, 194);
}
footer p{
    width: 90%;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 194, 194);
}
footer a{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 194, 194);
}

/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgb(207, 189, 189);
    background-color: #fff;
}

section h2{
    margin: 20px 0;
    width: 90%;
    color: rgb(155, 84, 51);
    
}
section > div{
    width: 90%;
}
/*SECTION MENU*/
.menu a{
    display:inline-table;
    text-align:center;

    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 203, 203);
    font-weight: bold
}

/*SECTION INFOS*/
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
        height:400px;
        }
        .photo p {
        text-align:center;
        }
        .photo img {
        width:150px;
        height:150px;
        }
        .photo img:hover {
        width:300px;
        height:300px;
        }
.présentation a{
    display:block;
    text-align:center;
    padding: 10px;
    margin: 10px auto 10px auto;
    color: #fff;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
.coordonnees{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.coordonnees p:first-child{
    flex: 0 0 40%;
}
.coordonnees p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
    justify-content: center;
}
.social img{
    width: 40px;
    height: 40px;
}

/*SECTION EXP ET FORMATION*/
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size:  1.2em;
}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}
.exp-logo{
    background:#333333;
    display:inline-block;
    }
    .exp-logo img{
    -moz-transition:  opacity 0.9s;
    -webkit-transition: opacity 0.9s;
    -o-transition: opacity 0.9s;
    }
    .exp-logo img:hover{
    opacity:0.8;
    -moz-transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    }
/*SECTION COMPETENCES*/
.h3gauche{
    width: 90%;
    color: rgb(231, 166, 0);

}
.comp{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    font-weight: bold;
}
.comp p{
    flex: 0 0 40%;
    
}
.conteneur-barre{
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: rgb(243, 204, 204);
    border-bottom: 1px ridge rgb(212, 212, 212);
    box-shadow: 0px 0px 7px rgb(165, 165, 165);
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c50{
    width: 50%;
    background-color: rgb(187, 68, 68);

}
.c75{
    width: 75%;
    background-color: rgb(187, 68, 68);
}
.c80{
    width: 80%;
    background-color: rgb(187, 68, 68);
}
.c85{
    width: 85%;
    background-color: rgb(187, 68, 68);
}
.c90{
    width: 90%;
    background-color: rgb(187, 68, 68);
}
.c95{
    width: 95%;
    background-color: rgb(187, 68, 68);
}
.c100{
    width: 100%;
    background-color: rgb(187, 68, 68);
    border-radius: 5px;
}
.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: rgb(150, 41, 41);
    font-weight: bold;

}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: rgb(243, 204, 204);
}

/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

/*CV*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover{
        color: rgb(0, 0, 0);
        font-weight: bold
    }
    header h1{
        width: 80%;
    }

    
    .présentation{
        border-bottom: none;
        padding-right: 10px;
        margin-left:initial;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
    }
    .présentation a{
        border: 2px solid transparent;
    }
    .présentation a:hover{
        color: #000000;
        background-color: #fff;
        border: 2px solid #f28835;
        box-shadow: 0px 0px 20px rgb(255, 255, 255);
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}